


@import "tailwindcss";
@plugin "daisyui";

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}

/* 2. Modern Tailwind v4 Utility Class syntax */
@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
  &::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari and Opera */
  }
}
@keyframes border-spin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: border-spin 1s linear infinite;
}
